/* styles.css */

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url('logo.svg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-align: center
    background-color: ;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

form {
    display: inline-block;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

h2 {
    margin-top: 40px;
}

table {
    margin: 0 auto !important;
}
